.logo {
    width: 50px;
    border-radius: 100%;
}

.category_list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.category_list a {
    text-decoration: none;
    color : rgb(160, 40, 134)
}

.footer {
    min-height: 80px;
}

.column-x {
    column-count: 3;
}

@media (max-width: 768px) {
    .column-x {
        column-count: 2;
    }
}
@media (max-width: 540px) {
    .column-x {
        column-count: 1;
    }
}