<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Home</title>

</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Store Car</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Sport Car</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Crossower</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Minivan</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search" method="get">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 pt-3">
        <main>
            <div class="card-group">
                <div class="card">
                    <a href="">
                        <img src="https://a.d-cd.net/93eb48ds-1920.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Range Rover</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, quo
                            perspiciatis eaque magnam tenetur tempora deleniti ipsa neque consequatur quos nulla
                            exercitationem fugiat asperiores. Ullam fuga, sit adipisci nam quibusdam sed iusto ducimus
                            quisquam dignissimos natus illum mollitia asperiores minima labore saepe velit impedit
                            excepturi debitis quo magni ipsam ratione eos fugiat. Quaerat adipisci illo, aliquid
                            voluptatum doloremque distinctio debitis libero ipsum minus molestiae. Veniam rerum quae
                            molestias unde explicabo aspernatur, quisquam quasi officiis provident ullam culpa deserunt
                            aut odit, numquam quibusdam. Doloribus cum, pariatur suscipit dignissimos ea culpa dicta
                            quos nulla assumenda error molestias quod obcaecati explicabo! Veritatis totam rerum id
                            dignissimos ad nostrum quos perferendis ipsa, velit nesciunt, corrupti obcaecati consequatur
                            nobis eaque vel iure quas possimus perspiciatis quae. Perspiciatis ab recusandae, obcaecati
                            ex itaque minus natus repudiandae fugit deleniti quidem cupiditate nihil praesentium
                            incidunt voluptas vel cum ad aspernatur excepturi laboriosam, odio dolorem! Dicta nam dolor
                            ad laudantium! Cupiditate architecto facere asperiores alias nisi dignissimos expedita
                            impedit quaerat vitae sit! Consequatur eaque repellat quis soluta dignissimos laudantium
                            inventore impedit blanditiis quod officia facere doloribus eveniet mollitia deserunt
                            cupiditate quasi, obcaecati ratione beatae ea cumque voluptatem enim? Accusamus minima
                            sapiente asperiores error voluptas! Distinctio, fugiat tempore, vero et repellendus
                            consequatur expedita natus qui reiciendis fuga quibusdam nemo perspiciatis. Placeat
                            laboriosam, ipsum eos saepe necessitatibus reiciendis ipsam, dolorem explicabo voluptatibus
                            modi doloremque eligendi officia, dolorum obcaecati sed. Labore quod sunt similique maxime
                            distinctio iure nostrum rerum incidunt natus quisquam dicta necessitatibus veritatis
                            adipisci maiores, voluptates vero dolor est iste eligendi dolorum, quae voluptas! Porro
                            nulla qui id reprehenderit officiis accusantium? Accusantium error eius optio quia
                            architecto placeat eum quasi voluptate ea ad vitae eos quaerat quam corporis voluptatibus,
                            voluptatem omnis beatae enim? Eius laborum saepe ullam nihil soluta. Asperiores eaque alias,
                            sit fugit id natus dignissimos fugiat eveniet dolore?</p>
                        <ul class="card_group">
                            <li><a href="">Sport</a></li>
                            <li><a href="">Crossower</a></li>
                        </ul>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            Buy now!
                        </button>
                    </div>
                </div>

            </div>

        </main>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method = "post" action="">
                            <div class="mb-3">
                                <label for="user_name" class="form-label">Name</label>
                                <input type="text" class="form-control" name= "user_name" id="user_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="user_email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="user_email"
                                    aria-describedby="emailHelp" name="user_email" required>
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn btn-success">Order</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer bg-dark text-info d-flex justify-content-center align-items-center">
        <span> Tel: +133-449-878</span>
    </footer>
</body>

</html>